<nav class="navbar navbar-light bg-secondary">
    <div class="container-fluid">
        <a class="navbar-brand bg-light" href="/">
        <img src="{{ url_for('send_image', path='logo.jpeg') }}" alt="" width="30" height="24" class="d-inline-block align-text-top">
        C R A B
        </a>

        <form class="d-flex bg-light">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
</nav>